@model IEnumerable<DigitalniKlubCitalaca.Models.Komentar>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SadrzajGrupe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tekst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumKomentara)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusKomentara)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SadrzajGrupe.SadrzajId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor.KorisnikId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tekst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumKomentara)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusKomentara)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.KomentarId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.KomentarId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.KomentarId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
