@model DigitalniKlubCitalaca.Models.ZahtjevZaPristup

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ZahtjevZaPristup</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Korisnik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Korisnik.KorisnikId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CitalackaGrupa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CitalackaGrupa.GrupaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumZahtjeva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumZahtjeva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusZahtjeva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusZahtjeva)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ZahtjevId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
